<details data-group="group-1" open>
    <summary>Titel</summary>
    <section>Content</section>
</details>

<details data-group="group-1">
    <summary>Titel</summary>
    <section>Content</section>
</details>
