.idea
.DS_Store
.php_cs.cache
.sass-cache
yarn-error.log
_temp_
node_modules

/.ddev/*
/.dep
/var/*

/vendor
deprecation_*
ENABLE_INSTALL_TOOL
AdditionalConfiguration.*.php
/public/fileadmin
/public/typo3
/public/typo3conf/ext
/public/typo3temp
/public/uploads
/public/.well-known
/public/index.php
!/public/.htaccess
