$max: 300;
$offset: 15;
$unit: "px";
@mixin spacing-loop($className, $styleName) {
    $i: 0;
    @while $i <= $max {
        #{$className + $i} {
            #{$styleName}: #{$i + $unit};
        }
        $i: $i + $offset;
    }
}

@include spacing-loop(".p-t-", "padding-top");
@include spacing-loop(".p-b-", "padding-bottom");
@include spacing-loop(".m-t-", "margin-top");
@include spacing-loop(".m-b-", "margin-bottom");
